* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "verdana";
}

.container {
  padding: 50px 0;
  margin: 0 auto;
  width: 1170px;
}

.formText {
  width: 100%;
  height: 45px;
  margin: 10px 0 5px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  outline: none;
}
.formText:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.country-row {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #555;
  background: #333;
}
.country-row:hover {
  background: #444;
}
.continent {
  float: right;
  color: #73acde;
  font-size: 10px;
  text-transform: uppercase;
}
.country-row h2 {
  font-size: 16px;
  font-weight: normal;
  color: #f3f3f3;
  margin-bottom: 5px;
}
.country-row p {
  color: #8a8484;
  font-size: 12px;
  text-transform: uppercase;
}
